@import "tailwindcss";
@plugin "daisyui" {
  themes: silk --default, coffee --prefersdark;
}

#loading-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 0%;
  height: 2px;
  z-index: 9999;
  opacity: 0;
  transition: width 0.2s ease, opacity 0.2s ease;
}

@source "../**/*.go";
@source "../**/*.js";
